@import url(https://fonts.googleapis.com/css?family=Quicksand:300);

@mixin calculator-shadow() {
  -webkit-box-shadow: 0px 20px 120px -20px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 20px 120px -20px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 20px 120px -20px rgba(0, 0, 0, 0.7);
}

$font-family: "Quicksand", sans-serif;

$bg-color-red: #ff5f6d;
$bg-color-orange: #ffc371;
$display-color: #333a4d;
$transparent-white: rgba(255, 255, 255, 0.6);
$light-grey: #eee;
$medium-grey: #ccc;
$light-orange: #fea170;
$medium-orange: #f78d6c;

$border-radius: 0.75rem;
$results-font-size: 52px;

body {
  height: 100vh;
  margin: 0;
  font-family: $font-family;
  font-size: 20px;
  background: $bg-color-red; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    $bg-color-red,
    $bg-color-orange
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    $bg-color-red,
    $bg-color-orange
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.calculator {
  width: 20rem;
  height: 30rem;
  border-radius: 0.75rem;
  background: $light-grey;
  @include calculator-shadow();
  .display {
    display: flex;
    flex-wrap: wrap;
    text-align: right;
    overflow: hidden;
    height: calc(30% + 1px);
    width: 100%;
    background: $display-color;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    &__current,
    &__result {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 100%;
      height: 50%;
      padding: 0 10px;
    }
    &__current {
      color: $transparent-white;
    }
    &__result {
      font-size: $results-font-size;
      color: $light-grey;
    }
  }
  .controls {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    height: 70%;
    &__item {
      font: 400 20px $font-family;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 0;
      border-bottom: 1px solid rgba(0, 0, 0, 0.05);
      border-right: 1px solid rgba(0, 0, 0, 0.05);
      cursor: pointer;
      &:hover {
        background: darken($light-grey, 10%);
      }
      &--darker {
        background: $medium-grey;
      }
      &--orangeLight {
        background: $light-orange;
        &:hover {
          background: darken($light-orange, 5%);
        }
      }
      &--orangeMedium {
        background: $medium-orange;
        &:hover {
          background: darken($medium-orange, 5%);
        }
      }
      &:nth-last-child(1) {
        border-bottom-right-radius: $border-radius;
      }
      &:nth-last-child(4) {
        border-bottom-left-radius: $border-radius;
      }
    }
  }
}
